/*Body and Container*/
body{
	background-color: #FFFFFF;
	font-family: "sylfaen";
	font-size: 12px;
    text-align: left;
	color: #333333
}

div#container{
	background-image: url(Images/content.png);
	background-repeat: repeat-y;
	background-position: center;
}

/* Header */
div#header{	
	background-image: url(Images/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

/* Content */
div#content{
}

/* Left and Right Sidebar */
div#navigation{
        list-style-type: none;
}
div#photos{
}

/* Footer */
div#footer{
	background-image: url(Images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center;
	color: #333333
}

a
{
        font: 10px;
	color: #333333;
	text-decoration: none;
	margin: 1px;
	border: none;
}

a:link, a:visited, a:active
{

        font-size: 10px;
	color: #333333;
        text-decoration: none;
	border: none;
}

a:hover
{
        color: #7C8187;
	border-bottom: 1px dotted #000000;
}

h1
{
        margin: 0px 0px 0px 0px;
}
p
{
        padding: 0px 0px 0px 2px;
        margin: 5px 0px 13px 0px;
}
