/*Body and Container*/
body{
	background-color: #FFFFFF;
	font-family: "sylfaen";
	font-size: 18px;
    text-align: left;
	color: #333333
}
.intro
{
		vertical-align: middle;
	    text-align: center;
}

#linkintro
{
font-size: 30px;
	font-family: helvetica;
font-weight: bold;
position: relative;
bottom: 150px;
		vertical-align: middle;
	    text-align: center;
}


a, a:link, a:visited
{
font-size: 14px;
color: #F82D6F;
        text-decoration: none;
}

a:hover, a:active
{
font-size: 14px;
color: #FC60A6;
        text-decoration: none;
}

#linkintrocopy
{
color: #FFFFFF;
font-size: 10px;
font-family: arial;
position: relative;
bottom: 120px;
vertical-align: middle;
text-align: center;
}

#linkintrocopya
{
color: #FFFFFF;
font-size: 10px;
font-family: silkscreen;
}