/*--- [general attributes] ---*/

/*Body and Container*/
body{
	margin: 6px;
}

div#container{
    width: 1024px;
    margin: 0 auto;
}

/* Header */
div#header{	
	height: 134px;
}

/* Left and Right Sidebar */
div#navigation{
	float: left;
	width: 80px;
	\width:150px;
	w\idth:80px;
	padding: 0px 0px 0px 130px
}
div#photos{
	float: right; 
	width: 180px;
	\width:190px;
	w\idth:180px;
	padding: 1em 5px;
}
div#photos img{ 
	width: 120px;
	\width:130px;
	w\idth:120px;
        border: 1px solid #7C8187;
}

/* Content */
div#content{
	margin: 0 180px -25px;
	padding: 0px 60px 0px 60px;
}

/* Footer */
div#footer{
	height: 67px;
	clear:both; 
	padding: 30px 0px 0px 230px;
}
div#footer img{
        float: right;
	clear:both; 
	padding: 0px 220px 0px 0px;
}